<!DOCTYPE html>
<html>
    <head>
        <title>Pinelands</title>
    </head>

    <body>
        <h1>Welcome to Pinelands Music School</h1>
<br />
<br />
<a href="/book_lesson/login/">Login</a>
<a href="/book_lesson/register/">Create Student Account</a>
<a href="/book_lesson/parent_register/">Create Parent Account</a>
<a href="/book_lesson/instrument_hire/">View Instruments for Hire</a>
<a href="/book_lesson/feedback/">Submit Feedback</a>
{% if user.is_authenticated %}
<a href="/book_lesson/logout/">Logout</a><br />
{% endif %}
		
    </body>
</html>